/* .ImageOne{
    background-image:url(./1st\ girl.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
}
.ImageTwo{
    height: 100%;
    width: 100%;
}
.ImageTwo:hover{
    background: rgba(0, 0, 0, 0.5);
    
} */
/* .imageOne{
    position: relative;
    overflow: hidden;
    transition: all ease-in-out 0.5s;
}
.bg{
    position: absolute;
    top: 0;
    cursor: crosshair;
    height: 100%;
    width: 100%;
}
.bg:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.pix{
    width: 100%;
    height: 100%;
}
.imageOne:hover .pix{
    transform: scale(1.2);
}
.Wrapper{
 padding: 0px !important;

}
.Wrapper-One{
    padding: 0px !important;
} */
body{
  font-family: 'Averia Serif Libre';
  margin: auto; 
  margin-top: 25vh;
  width: 320px; height: 320px;
}
input{ border: 1px solid; }
td:first-child{ width: 100px; }
